@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile{
display: none;
}
#videoBG{
display: none;
}

textarea{
text-indent: 15px;
}

@media only screen and (max-width: 767px) {
  #videoBG{
  display: block;
  object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
 }
 .navbar{
 display: none;
 }

  .mobile{
  display: block;
  }
}