@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}


.mobile{
display: none;
}
#videoBG{
display: none;
}

textarea{
text-indent: 15px;
}

.align2{
  direction:rtl;
    text-align:justify;
}

@media only screen and (max-width: 767px) {
  #videoBG{
  display: block;
  object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
 }
 .navbar{
 display: none;
 }

  .mobile{
  display: block;
  }

  .username{
  display: none;
  }
  .info{
  display: none;
  }
}